<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
	
	<title>Assignment 1 Add Item</title>
	
	<link rel = "stylesheet" href = "css/style.css">
	
</head>

<body>

<ul>
  <li><a class="active" href="index.html">Home</a></li>
  <li><a href="addItem.html">Add Item</a></li>
  <li><a href="login.html">Login</a></li>
  
</ul>

<form>
<label>Add Item</label>
<input type="text" class="form-control" placeholder="Add Item" id="addItem" required data-validation-required-message="Please enter an item you would like to add.">
<br>
<input type="submit" name="Submit">
</form>

</body>